.input-d{
    margin-top: 20px;
}
.h1-d{
    text-align: center;
    margin-top: 50px;
}

.center {
    margin: auto;
    width: 30%;
    border: 2px solid #0f0f0e;
    padding: 10px;
    background-color: rgb(205, 245, 218);
    }