.home-backround{
    background-image: url("backround.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%
}
.arrow{
    height: 70%;
    width: 50%;
}

.btn-xxl {
    font-size: 4.5rem;
    border-radius: 24px;
  }

