.log-bg{
    background: url('./log.jpg') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.from-container{
border: 0px solid;
padding: 50px 60px;
margin-top: 20vh;
-webkit-box-shadow: -2px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -2px 4px 26px 11px rgba(0,0,0,0.75);
}

.log-btn{
    margin-top: 10px;
    width: 100%;
}